<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>http demo</title>
    <script src="./vue/vue.min.js"></script>
    <script src="./vue/axios.min.js"></script>
    <script src="./websdk/sdk.min.js"></script>
</head>

<body>
    <div id="app">
        <a href="./index.html">返回</a>
        <h1>http 协议</h1>
        <hr />
        <h2>提交数据</h2>
        <hr />
        <div>
            <label>
                用户名
            </label>
            <input type="text" v-model="name" />
            <br>
            <label>
                联系方式
            </label>
            <input type="text" v-model="phone" />
            <br>
            <button @click="addUser()">提交</button>
        </div>
        <h2>查询数据</h2>
        <hr />
        <div>
            <button @click="getUsers()">查询</button>
            <br />
            <textarea cols="40" rows="10" :value="responseJson">

           </textarea>
        </div>
    </div>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                name: '',
                phone: '',
                responseJson: '',
                token: '',
				srand: ''
            },
            methods: {
                addUser: function () {
                    let auth = {
                        'edger-token': this.token,
                        'edger-srand': this.srand
                    };
                    axios
                        .post('/api/user', { name: this.name, phone: this.phone }, {headers: auth})
                        .then(res => {
                            this.responseJson = JSON.stringify(res.data, null, 4);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                },
                getUsers: function () {
                    let auth = {
                        'edger-token': this.token,
                        'edger-srand': this.srand
                    };
                    axios
                        .get('/api/user', {headers: auth})
                        .then(res => {
                            this.responseJson = JSON.stringify(res.data, null, 4);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                },
                initAuth(){
					edger.token().then((res) => {
						this.token = res.token;
						this.srand = res.srand;					
					}).catch((error) => {
						// ...
					});
					edger.onAction('token', (res) => {
						this.token = res.token;
						this.srand = res.srand;	
					});
				}
            },
            created (){
                this.initAuth();
            }
        });
    </script>
    <style>
        html {
            height: 100%;
            background-color: #ffffff;
        }
    </style>
</body>

</html>